/* layout ------------------- */
body {
  line-height: 2.5rem;
  margin: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

/* header------------------ */
h3 {
  color: blue;
}

/* image ---------------------- */
img ~ img {
  border: 5px green dotted;
}
img {
  margin: 0 10px;
}

/* link ------------------------ */
[href*=".com"] {
  background-color: yellow;
}

a:link,
a:active,
a.visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: orange;
}

/* id ----------------------------- */
#task5 {
  color: rgb(72, 32, 248);
}

/* class -------------------------- */
.red {
  color: red;
}
